<?xml version="1.0"?>
<launch>
  <!-- This is a testing version of the jetson_fc.launch file that uses /dev/null
       for the serial port to enable testing without actual Flight Controller hardware -->

  <!-- Explicitly set ROS networking variables in the launch file -->
  <env name="ROS_MASTER_URI" value="http://192.168.1.100:11311"/>
  <env name="ROS_IP" value="192.168.1.3"/>
  
  <!-- Launch the flight controller node with dummy port -->
  <node pkg="rocket_integration" type="fc_node" name="flight_controller_node" output="screen">
    <param name="serial_port" value="/dev/null"/>
    <param name="baudrate" value="115200"/>
    <param name="vicon_topic" value="/vicon/Test1return/pose"/>
  </node>
</launch> 