<?xml version="1.0"?>
<launch>
  <!-- This assumes Jetson environment variables are set so it can connect to GS's roscore:
       export ROS_MASTER_URI=http://192.168.1.100:11311
       export ROS_IP=192.168.1.3
  -->

  <!-- Explicitly set ROS networking variables in the launch file -->
  <env name="ROS_MASTER_URI" value="http://192.168.1.100:11311"/>
  <env name="ROS_IP" value="192.168.1.3"/>
  
  <!-- Launch the flight controller node to communicate with the rocket's FC -->
  <node pkg="rocket_integration" type="fc_node" name="flight_controller_node" output="screen">
    <param name="serial_port" value="/dev/ttyTHS1"/>
    <param name="baudrate" value="115200"/>
    <param name="vicon_topic" value="/vicon/Test1return/pose"/>
  </node>
</launch> 