<?xml version="1.0"?>
<launch>
  <!-- This launch file sets up the signal monitor on the Jetson -->
  
  <!-- Define arguments first -->
  <arg name="visualize" default="false" />
  
  <!-- Explicitly set ROS networking variables in the launch file -->
  <env name="ROS_MASTER_URI" value="http://192.168.1.100:11311"/>
  <env name="ROS_IP" value="192.168.1.3"/>
  
  <!-- Launch the signal monitor node -->
  <node pkg="rocket_integration" type="signal_monitor" name="signal_monitor" output="screen">
    <param name="interface" value="wlan0"/> <!-- Modify if your interface name is different -->
    <param name="update_rate" value="2.0"/> <!-- Update at 2Hz -->
  </node>
  
  <!-- Optional: Launch rqt_plot for signal strength visualization -->
  <node pkg="rqt_plot" type="rqt_plot" name="signal_plot" 
        args="/signal_monitor/wifi_signal/data /signal_monitor/wifi_quality/data" if="$(arg visualize)" />
</launch> 